{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="page-header">Mes informations</h3>
    <dl class="dl-horizontal">
        <dt>Nom</dt>
        <dd>{{ me.nom }}</dd>
        <dt>Prénom</dt>
        <dd>{{ me.prenom }}</dd>
        <dt>Email</dt>
        <dd>{{ me.email }}</dd>
    </dl>
    <h3 class="page-header">Changer mon mot de passe</h3>
    <dl class="dl-horizontal">
        <dt>Login de connexion</dt>
        <dd>{{ me.username }}</dd>
        <dt>Rôle</dt>
        <dd>{{ me.role }}</dd>
    </dl>
    <form class="form-horizontal" action="{{ path('strollad_prestages_change_my_password') }}" method="post">
        <div class="form-group">
            <label for="new-pass-1" class="col-sm-2 control-label">Nouveau mot de passe</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="new-pass-1" id="new-pass-1" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="new-pass-2" class="col-sm-2 control-label">Confirmer le nouveau mot de passe</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="new-pass-2" id="new-pass-2" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Changer</button>
            </div>
        </div>
    </form>
{% endblock %}